Repository alannguyencs/dish_healthiness_prod: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

Path conditions:
  eslint-frontend: any of: ^frontend/.*\.(js|jsx)$, but not: (node_modules/.*$|build/.*$)
  prettier-frontend: any of: ^frontend/.*\.(js|jsx|json|css|html)$, but not: (node_modules/.*$|package-lock\.json$|build/.*$)
  check-frontend-file-line-count: any of: ^frontend/src/.*\.(js|jsx)$
  check-backend-file-line-count: any of: ^backend/src/.*\.py$, but not: (backend/src/api/chat\.py|backend/src/service/llm/models\.py|backend/src/crud/crud_analysis\.py)
  check-console-log: any of: ^frontend/src/.*\.(js|jsx)$, but not: (frontend/src/utils/.*|frontend/src/contexts/.*)
  check-debugger: any of: ^frontend/src/.*\.(js|jsx)$
  check-todo-fixme: any of: \.(js|jsx|py)$, but not: (node_modules/.*|venv/.*)

feat: European dishes with user feedback
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  backend/src/api/dashboard.py
  backend/src/api/date.py
  backend/src/api/item_schemas.py
  backend/src/api/item_tasks.py
  backend/src/crud/crud_food_image_query.py
  backend/src/crud/dish_query_basic.py
  backend/src/crud/dish_query_filters.py
  backend/src/crud/dish_query_iterations.py
  backend/src/database.py
  backend/src/main.py
  backend/src/service/llm/gemini_analyzer.py
  backend/src/service/llm/pricing.py
  backend/test_new_features.py
  frontend/src/components/item/AddComponentForm.jsx
  frontend/src/components/item/ComponentListItem.jsx
  frontend/src/components/item/DishNameSelector.jsx
  frontend/src/components/item/Step1ComponentEditor.jsx
  project_structure.md
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

fix: scroll to bottom after confirming first step
  frontend/src/components/item/Step1ComponentEditor.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: refactor the codebase
  backend/sql/create_tables.sql
  frontend/package-lock.json
Due: none

feat: reference for serving size
  backend/resources/images/burger-french-fries.webp
  backend/resources/step1_component_identification.md
  backend/src/api/date.py
  docs/serving_size.md
  docs/serving_size_vis.md
  frontend/src/App.js
  frontend/src/assets/images/hand/a_cupped_hand.png
  frontend/src/assets/images/hand/fist.png
  frontend/src/assets/images/hand/the_palm.png
  frontend/src/assets/images/hand/the_thumbnail.png
  frontend/src/assets/images/hand/tip_of_thumb.png
  frontend/src/components/item/Step1ComponentEditor.jsx
  frontend/src/pages/ServingSizeReference.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: customize serving size
  frontend/src/components/item/ComponentListItem.jsx
  frontend/src/components/item/Step1ComponentEditor.jsx
  frontend/src/pages/ItemV2.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

fix: user customization
  backend/src/api/date.py
  docs/plan/260104_workflow_add_custom_component.md
  docs/plan/260104_workflow_custom_dish_name.md
  docs/plan/260104_workflow_custom_serving_size.md
  frontend/src/components/dateview/MealUploadGrid.jsx
  frontend/src/components/dateview/MealUploadSlot.jsx
  frontend/src/pages/DateView.jsx
  frontend/src/pages/ItemV2.jsx
  frontend/src/services/api.js
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

doc: list of features
  docs/abstract/authentication.md
  docs/abstract/calendar_dashboard.md
  docs/abstract/dish_analysis/component_identification.md
  docs/abstract/dish_analysis/index.md
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/abstract/dish_analysis/user_customization.md
  docs/abstract/index.md
  docs/abstract/meal_upload.md
  docs/features_260813.md
  docs/technical/authentication.md
  docs/technical/calendar_dashboard.md
  docs/technical/dish_analysis/component_identification.md
  docs/technical/dish_analysis/index.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/user_customization.md
  docs/technical/index.md
  docs/technical/meal_upload.md
  docs/technical/system_pipelines.md
Due: none

fix: minor issues
  backend/src/api/api_router.py
  backend/src/api/item_retry.py
  backend/src/api/item_tasks.py
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/checklist.md
  docs/issues/260414.md
  docs/plan/260418_phase2_error_handling.md
  docs/technical/dish_analysis/component_identification.md
  docs/technical/dish_analysis/nutritional_analysis.md
  frontend/src/components/item/ItemStepTabs.jsx
  frontend/src/components/item/Step2ErrorCard.jsx
  frontend/src/components/item/index.js
  frontend/src/pages/ItemV2.jsx
  frontend/src/services/api.js
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: phase 1 error ui & retry
  .pre-commit-config.yaml
  CLAUDE.md
  backend/pytest.ini
  backend/src/api/_phase_errors.py
  backend/src/api/date.py
  backend/src/api/item_retry.py
  backend/src/api/item_step1_tasks.py
  backend/src/api/item_tasks.py
  backend/tests/README.md
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_item_retry.py
  backend/tests/test_item_step1_tasks.py
  backend/tests/test_phase_errors.py
  docs/abstract/dish_analysis/component_identification.md
  docs/checklist.md
  docs/issues/260414.md
  docs/plan/260418_phase1_error_handling.md
  docs/technical/dish_analysis/component_identification.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/meal_upload.md
  frontend/src/components/item/PhaseErrorCard.jsx
  frontend/src/components/item/__tests__/PhaseErrorCard.test.jsx
  frontend/src/components/item/index.js
  frontend/src/hooks/useItemPolling.js
  frontend/src/pages/ItemV2.jsx
  frontend/src/services/api.js
  requirements.txt
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

doc: add proposal for personalization
  docs/discussion/260418_food_db.md
Due: none

feat: stage 0 - per-user food-description index
  backend/sql/create_tables.sql
  backend/src/crud/crud_personalized_food.py
  backend/src/models.py
  backend/src/service/personalized_food_index.py
  backend/tests/test_crud_personalized_food.py
  backend/tests/test_personalized_food_index.py
  docs/checklist.md
  docs/issues/260415.md
  docs/plan/260418_stage0_personalized_food_index.md
  docs/technical/dish_analysis/component_identification.md
  docs/technical/dish_analysis/index.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/personalized_food_index.md
  requirements.txt
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 1 - nutrition db service (library only)
  backend/scripts/__init__.py
  backend/scripts/seed/__init__.py
  backend/scripts/seed/_loaders.py
  backend/scripts/seed/_variations.py
  backend/scripts/seed/load_nutrition_db.py
  backend/sql/create_tables.sql
  backend/src/configs.py
  backend/src/crud/crud_nutrition.py
  backend/src/models.py
  backend/src/service/_nutrition_scoring.py
  backend/src/service/nutrition_db.py
  backend/tests/test_crud_nutrition.py
  backend/tests/test_nutrition_db.py
  backend/tests/test_seed_load_nutrition_db.py
  docs/checklist.md
  docs/issues/260415.md
  docs/plan/260418_stage1_nutrition_db.md
  docs/technical/dish_analysis/index.md
  docs/technical/dish_analysis/nutrition_db.md
  docs/technical/dish_analysis/personalized_food_index.md
Due: check-backend-file-line-count, check-todo-fixme

fix: dedupe seed input by conflict key before bulk upsert
  backend/src/crud/crud_nutrition.py
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 2 - phase 1.1.1 fast caption + personalized reference retrieval
  backend/src/api/item_step1_tasks.py
  backend/src/configs.py
  backend/src/crud/crud_personalized_food.py
  backend/src/service/llm/fast_caption.py
  backend/src/service/personalized_reference.py
  backend/tests/test_crud_personalized_food.py
  backend/tests/test_fast_caption.py
  backend/tests/test_item_step1_tasks.py
  backend/tests/test_personalized_reference.py
  docs/abstract/dish_analysis/component_identification.md
  docs/checklist.md
  docs/chrome_test/260418_2013_stage2_phase1_1_1_fast_caption.md
  docs/plan/260418_stage2_phase1_1_1_fast_caption.md
  docs/technical/dish_analysis/component_identification.md
  docs/technical/dish_analysis/personalized_food_index.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 3 - phase 1.1.2 two-image reference-assisted component id
  backend/resources/step1_component_identification.md
  backend/src/api/item_step1_tasks.py
  backend/src/service/llm/gemini_analyzer.py
  backend/src/service/llm/prompts.py
  backend/tests/test_gemini_analyzer.py
  backend/tests/test_item_step1_tasks.py
  backend/tests/test_prompts.py
  docs/abstract/dish_analysis/component_identification.md
  docs/checklist.md
  docs/chrome_test/260418_2318_stage3_phase1_1_2_reference_assisted_component_id.md
  docs/issues/260415.md
  docs/plan/260418_stage3_phase1_1_2_reference_assisted_component_id.md
  docs/technical/dish_analysis/component_identification.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 4 - phase 1.2 confirm endpoint enriches personalization row
  backend/src/api/item.py
  backend/tests/test_item_confirm.py
  docs/abstract/dish_analysis/user_customization.md
  docs/checklist.md
  docs/chrome_test/260418_2337_stage4_phase1_2_confirm_enriches_personalization.md
  docs/issues/260415.md
  docs/plan/260418_stage4_phase1_2_confirm_enriches_personalization.md
  docs/technical/dish_analysis/personalized_food_index.md
  docs/technical/dish_analysis/user_customization.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 5 - phase 2.1 nutrition db lookup integration
  backend/src/api/item_tasks.py
  backend/src/service/_nutrition_aggregation.py
  backend/src/service/_nutrition_collect.py
  backend/src/service/nutrition_db.py
  backend/src/service/nutrition_lookup.py
  backend/tests/test_item_tasks.py
  backend/tests/test_nutrition_aggregation.py
  backend/tests/test_nutrition_db.py
  backend/tests/test_nutrition_lookup.py
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/checklist.md
  docs/chrome_test/260419_1004_stage5_phase2_1_nutrition_db_lookup.md
  docs/issues/260415.md
  docs/plan/260419_stage5_phase2_1_nutrition_db_lookup.md
  docs/technical/dish_analysis/nutrition_db.md
  docs/technical/dish_analysis/nutritional_analysis.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 6 - phase 2.2 personalization lookup
  backend/src/api/item_tasks.py
  backend/src/configs.py
  backend/src/service/personalized_lookup.py
  backend/tests/test_item_tasks.py
  backend/tests/test_personalized_lookup.py
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/checklist.md
  docs/chrome_test/260419_1034_stage6_phase2_2_personalization_lookup.md
  docs/issues/260415.md
  docs/plan/260419_stage6_phase2_2_personalization_lookup.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/personalized_food_index.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 7 - phase 2.3 gemini analysis with threshold-gated reference blocks
  backend/resources/step2_nutritional_analysis.md
  backend/src/api/item_tasks.py
  backend/src/configs.py
  backend/src/service/llm/_step2_blocks.py
  backend/src/service/llm/gemini_analyzer.py
  backend/src/service/llm/models.py
  backend/src/service/llm/prompts.py
  backend/tests/test_gemini_analyzer.py
  backend/tests/test_item_tasks.py
  backend/tests/test_prompts.py
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/checklist.md
  docs/chrome_test/260419_1053_stage7_phase2_3_gemini_threshold_gated_blocks.md
  docs/issues/260415.md
  docs/plan/260419_stage7_phase2_3_gemini_threshold_gated_blocks.md
  docs/technical/dish_analysis/nutrition_db.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/personalized_food_index.md
Due: check-backend-file-line-count, check-todo-fixme

feat: stage 8 - phase 2.4 enhanced review ui + correction endpoint
  backend/src/api/api_router.py
  backend/src/api/item_correction.py
  backend/src/api/item_schemas.py
  backend/tests/test_item_correction.py
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/checklist.md
  docs/chrome_test/260419_1113_stage8_phase2_4_review_ui_and_correction.md
  docs/issues/260415.md
  docs/plan/260419_stage8_phase2_4_review_ui_and_correction.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/personalized_food_index.md
  docs/technical/dish_analysis/user_customization.md
  frontend/src/components/item/PersonalizationMatches.jsx
  frontend/src/components/item/ReasoningPanel.jsx
  frontend/src/components/item/Step2Results.jsx
  frontend/src/components/item/Step2ResultsEditForm.jsx
  frontend/src/components/item/Top5DbMatches.jsx
  frontend/src/components/item/__tests__/PersonalizationMatches.test.jsx
  frontend/src/components/item/__tests__/ReasoningPanel.test.jsx
  frontend/src/components/item/__tests__/Step2Results.test.jsx
  frontend/src/components/item/__tests__/Step2ResultsEditForm.test.jsx
  frontend/src/components/item/__tests__/Top5DbMatches.test.jsx
  frontend/src/components/item/index.js
  frontend/src/pages/ItemV2.jsx
  frontend/src/services/api.js
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: stage 9 - regression gate for retrieval quality
  .gitignore
  backend/pytest.ini
  backend/tests/data/retrieval_eval_dataset.csv
  backend/tests/test_nutrition_retrieval_benchmark.py
  docs/checklist.md
  docs/chrome_test/260419_1238_stage9_retrieval_regression_gate.md
  docs/issues/260415.md
  docs/plan/260419_stage9_retrieval_regression_gate.md
  docs/technical/dish_analysis/nutrition_db.md
Due: check-todo-fixme

fix: similarity_score no longer clamps to 1.0 for unrelated dishes
  backend/src/service/personalized_food_index.py
Due: check-backend-file-line-count, check-todo-fixme

fix: AuthContext hydrates session on mount instead of forcing /login
  backend/src/api/login.py
  frontend/src/contexts/AuthContext.js
  frontend/src/services/api.js
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: claude - personalized data card (research only)
  backend/src/api/item_step1_tasks.py
  backend/src/service/personalized_reference.py
  backend/tests/test_item_step1_tasks.py
  backend/tests/test_personalized_reference.py
  docs/abstract/dish_analysis/component_identification.md
  docs/checklist.md
  docs/chrome_test/260419_1540_personalized_data_card.md
  docs/plan/260419_personalized_data_card.md
  docs/technical/dish_analysis/component_identification.md
  frontend/src/components/item/PersonalizedDataCard.jsx
  frontend/src/components/item/__tests__/PersonalizedDataCard.test.jsx
  frontend/src/components/item/index.js
  frontend/src/pages/ItemV2.jsx
  scripts/cleanup/260419_personalized_data_card_purge.sh
  scripts/cleanup/260419_personalized_data_card_purge.sql
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

fix: Phase 1.1.2 reference block echoes user-verified dish name + portions
  backend/src/api/item_step1_tasks.py
  backend/src/service/llm/prompts.py
  backend/src/service/personalized_reference.py
Due: check-backend-file-line-count, check-todo-fixme

fix: PersonalizedDataCard thumbnail resolves against the backend base URL
  frontend/src/components/item/PersonalizedDataCard.jsx
  frontend/src/components/item/__tests__/PersonalizedDataCard.test.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

fix: PersonalizationMatches thumbnail resolves against the backend base URL
  frontend/src/components/item/PersonalizationMatches.jsx
  frontend/src/components/item/__tests__/PersonalizationMatches.test.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: group Step 2 research panels under a "Research only" label
  frontend/src/pages/ItemV2.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: collapse Step 2 research panels behind a chevron toggle
  frontend/src/components/item/ResearchOnlyGroup.jsx
  frontend/src/components/item/__tests__/ResearchOnlyGroup.test.jsx
  frontend/src/components/item/index.js
  frontend/src/pages/ItemV2.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: move Step 2 Research-only group above the Nutritional Analysis card
  frontend/src/pages/ItemV2.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: style ResearchOnlyGroup header as a proper card
  frontend/src/components/item/ResearchOnlyGroup.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: drop "Step 2: Nutritional Analysis" header and color the dish name blue
  frontend/src/components/item/Step2Results.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

fix: treat corrected_step2_data as authoritative in Phase 2.3 prompt
  backend/src/service/llm/_step2_blocks.py
Due: check-backend-file-line-count, check-todo-fixme

feat: strip ReasoningPanel's own collapse toggle
  frontend/src/components/item/ReasoningPanel.jsx
  frontend/src/components/item/__tests__/ReasoningPanel.test.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

docs: explain serving size — plain-language in md, FDA-official on the reference page
  docs/serving_size.md
  frontend/src/pages/ServingSizeReference.jsx
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-console-log, check-debugger, check-todo-fixme

feat: stage 10 - phase 2.4 ai assistant edit
  backend/resources/step2_assistant_correction.md
  backend/src/api/item_correction.py
  backend/src/api/item_schemas.py
  backend/src/service/llm/step2_assistant.py
  backend/tests/test_item_ai_assistant_correction.py
  backend/tests/test_step2_assistant.py
  docs/abstract/dish_analysis/component_identification.md
  docs/abstract/dish_analysis/end_to_end_workflow.md
  docs/abstract/dish_analysis/index.md
  docs/abstract/dish_analysis/nutritional_analysis.md
  docs/abstract/dish_analysis/user_customization.md
  docs/checklist.md
  docs/chrome_test/260419_1940_ai_assistant_edit.md
  docs/discussion/260418_food_db.md
  docs/issues/260415.md
  docs/plan/260419_ai_assistant_edit.md
  docs/technical/dish_analysis/nutritional_analysis.md
  docs/technical/dish_analysis/user_customization.md
  frontend/src/components/item/Step2AiAssistantPanel.jsx
  frontend/src/components/item/Step2Results.jsx
  frontend/src/components/item/__tests__/Step2AiAssistantPanel.test.jsx
  frontend/src/components/item/__tests__/Step2Results.test.jsx
  frontend/src/components/item/index.js
  frontend/src/pages/ItemV2.jsx
  frontend/src/services/api.js
Due: eslint-frontend, prettier-frontend, check-frontend-file-line-count, check-backend-file-line-count, check-console-log, check-debugger, check-todo-fixme

docs: track testing_context + prior chrome test specs
  docs/chrome_test/260419_1251_e2e_url_upload_workflow_gooey.md
  docs/chrome_test/260419_1404_e2e_nutrition_db_canaries.md
  docs/chrome_test/260419_1719_personalized_history_reuse.md
  docs/chrome_test/260419_full_workflow.md
  docs/technical/testing_context.md
Due: none

feat: deloyment scripts
  backend/sql/cloud_deploy_patch.sql
  scripts/s260421_2141_check_cloud_database.py
  scripts/s260421_2145_apply_cloud_schema.py
Due: check-todo-fixme

fix: flash 2.0 issue
  backend/src/service/llm/fast_caption.py
Due: check-backend-file-line-count, check-todo-fixme
